{% extends 'layout/master.html' %}

{% block body %}
{% load static %}
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Categories
        <small>Data master</small>
      </h1>
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="#">Forms</a></li>
        <li class="active">Categories</li>
      </ol>
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">

          <div class="box box-danger">
            <!--<div class="box-header">
              <h3 class="box-title">
                <a href="#" class="btn btn-warning">
                  Create categories
                </a>
              </h3>
            </div>-->
            <div class="box-body">
              {% include 'error.html' %}
             <form action="{% url 'categories:store' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                  <label>Name:</label>
                  <div class="col-md-12 input-group">
                    <input type="text" class="form-control" name="name">
                  </div>
                  <!-- /.input group -->
                </div>
                <div class="form-group">
                  <button class="btn btn-warning">
                      Save
                  </button>
              </form>
              </div>
              <!-- /.form group -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </div>
        <!-- /.col (right) -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
</div>
{% endblock %}