{% extends 'base/masterLayout.html' %}
{% block body %}
  {% load static %}
    {% include 'base/slider.html' %}
    {% include 'base/rule.html' %}
<div class="site-section site-section-sm bg-light">
    <div class="container">
        <div class="row mb-5">
        <div class="col-12">
            <div class="site-section-title">
            <h2>New Properties for You</h2>
            </div>
        </div>
        </div>
        <div class="row mb-5">
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="property-details.html" class="prop-entry d-block">
            <figure>
                <img src="{% static 'base/images/img_1.jpg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="prop-text">
                <div class="inner">
                <span class="price rounded">$1,930,000</span>
                <h3 class="title">853 S Lucerne Blvd</h3>
                <p class="location">Los Angeles, CA 90005</p>
                </div>
                <div class="prop-more-info">
                <div class="inner d-flex">
                    <div class="col">
                    <span>Area:</span>
                    <strong>240m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                    <span>Beds:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Baths:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Garages:</span>
                    <strong>1</strong>
                    </div>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="property-details.html" class="prop-entry d-block">
            <figure>
                <img src="{% static 'base/images/img_2.jpg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="prop-text">
                <div class="inner">
                <span class="price rounded">$2,438,000</span>
                <h3 class="title">853 S Lucerne Blvd</h3>
                <p class="location">Los Angeles, CA 90005</p>
                </div>
                <div class="prop-more-info">
                <div class="inner d-flex">
                    <div class="col">
                    <span>Area:</span>
                    <strong>240m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                    <span>Beds:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Baths:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Garages:</span>
                    <strong>1</strong>
                    </div>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="property-details.html" class="prop-entry d-block">
            <figure>
                <img src="{% static 'base/images/img_3.jpg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="prop-text">
                <div class="inner">
                <span class="price rounded">$5,320,000</span>
                <h3 class="title">853 S Lucerne Blvd</h3>
                <p class="location">Los Angeles, CA 90005</p>
                </div>
                <div class="prop-more-info">
                <div class="inner d-flex">
                    <div class="col">
                    <span>Area:</span>
                    <strong>240m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                    <span>Beds:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Baths:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Garages:</span>
                    <strong>1</strong>
                    </div>
                </div>
                </div>
            </div>
            </a>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
            <a href="property-details.html" class="prop-entry d-block">
            <figure>
                <img src="{% static 'base/images/img_4.jpg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="prop-text">
                <div class="inner">
                <span class="price rounded">$2,350,000</span>
                <h3 class="title">853 S Lucerne Blvd</h3>
                <p class="location">Los Angeles, CA 90005</p>
                </div>
                <div class="prop-more-info">
                <div class="inner d-flex">
                    <div class="col">
                    <span>Area:</span>
                    <strong>240m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                    <span>Beds:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Baths:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Garages:</span>
                    <strong>1</strong>
                    </div>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="property-details.html" class="prop-entry d-block">
            <figure>
                <img src="{% static 'base/images/img_5.jpg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="prop-text">
                <div class="inner">
                <span class="price rounded">$1,550,000</span>
                <h3 class="title">853 S Lucerne Blvd</h3>
                <p class="location">Los Angeles, CA 90005</p>
                </div>
                <div class="prop-more-info">
                <div class="inner d-flex">
                    <div class="col">
                    <span>Area:</span>
                    <strong>240m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                    <span>Beds:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Baths:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Garages:</span>
                    <strong>1</strong>
                    </div>
                </div>
                </div>
            </div>
            </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
            <a href="property-details.html" class="prop-entry d-block">
            <figure>
                <img src="{% static 'base/images/img_6.jpg' %}" alt="Image" class="img-fluid">
            </figure>
            <div class="prop-text">
                <div class="inner">
                <span class="price rounded">$4,291,000</span>
                <h3 class="title">853 S Lucerne Blvd</h3>
                <p class="location">Los Angeles, CA 90005</p>
                </div>
                <div class="prop-more-info">
                <div class="inner d-flex">
                    <div class="col">
                    <span>Area:</span>
                    <strong>240m<sup>2</sup></strong>
                    </div>
                    <div class="col">
                    <span>Beds:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Baths:</span>
                    <strong>2</strong>
                    </div>
                    <div class="col">
                    <span>Garages:</span>
                    <strong>1</strong>
                    </div>
                </div>
                </div>
            </div>
            </a>
        </div>

        </div>
        <div class="row">
        <div class="col-md-12 text-center">
            <div class="site-pagination">
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <span>...</span>
            <a href="#">10</a>
            </div>
        </div>  
        </div>
        
    </div>
    </div>
{% endblock %}