{% load static %}
<div class="site-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-7 text-center mb-5">
          <div class="site-section-title">
            <h2>Our Services</h2>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#" class="service text-center border rounded">
            <span class="icon flaticon-house"></span>
            <h2 class="service-heading">Research Subburbs</h2>
            <p><span class="read-more">Learn More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#" class="service text-center border rounded">
            <span class="icon flaticon-sold"></span>
            <h2 class="service-heading">Sold Houses</h2>
            <p><span class="read-more">Learn More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#" class="service text-center border rounded">
            <span class="icon flaticon-camera"></span>
            <h2 class="service-heading">Security Priority</h2>
            <p><span class="read-more">Learn More</span></p>
          </a>
        </div>

        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#" class="service text-center border rounded">
            <span class="icon flaticon-house"></span>
            <h2 class="service-heading">Research Subburbs</h2>
            <p><span class="read-more">Learn More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#" class="service text-center border rounded">
            <span class="icon flaticon-sold"></span>
            <h2 class="service-heading">Sold Houses</h2>
            <p><span class="read-more">Learn More</span></p>
          </a>
        </div>
        <div class="col-md-6 col-lg-4 mb-4">
          <a href="#" class="service text-center border rounded">
            <span class="icon flaticon-camera"></span>
            <h2 class="service-heading">Security Priority</h2>
            <p><span class="read-more">Learn More</span></p>
          </a>
        </div>
      </div>
    </div>
  </div>