{% load static %}
<div class="site-section site-section-sm bg-primary">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8">
          <h2 class="text-white">Wide Range of Properties Just For You</h2>
          <p class="lead text-white-5">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
        <div class="col-md-4 text-center">
          <a href="#" class="btn btn-outline-primary btn-block py-3 btn-lg">See Properties</a>
        </div>
      </div>
    </div>
  </div>